<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Jokebook</title>
</head>
<body>
    <h1>Hello Jokebook</h1>
    <h2>Good Morningg</h2>

    <table>
        <tr>
            <th>TEXT</th>
            <th>RATING</th>
            <th>DATE</th>
        </tr>
        <tr th:each="jokes : ${jokes}">
            <td th:text="${jokes.text}"></td>
            <td th:text="${jokes.rating}"></td>
            <td th:text="${jokes.date}"></td>
        </tr>
    </table>
</body>
</html>