<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title>Jokebook</title>
</head>
<body>
    <div style="text-align: center">
        <h1>Jokebook</h1>
        <h3>Marc Welz</h3>
    </div>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">TEXT</th>
                <th scope="col">RATING</th>
                <th scope="col">DATE</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="jokes : ${jokes}">
                <th scope="row" th:text="${jokes.id}"></th>
                <td th:text="${jokes.text}"></td>
                <td th:text="${jokes.rating}"></td>
                <td th:text="${jokes.date}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>